<!doctype html>
<html>
<head>
<meta charset='utf-8' />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<title>AskDjango</title>
</head>
<body>
<h1>askdjango</h1>  

<p>이마트에 쌀가격 크롤링 해오기</p>

{% for emart in emarts %}
          <table border='1'>
            <tr>
                <th> 쌀 이름 </th>
                <th> 가격    </th>
            </tr>
            <tr>  
            <td>{{ emart.title }} </td>
            <td>{{ emart.price }} 원</td>
            <tr>
          </table>
            
        
        
{% endfor %}
</body>
</html>


































